/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins','sans-serif';
} */

.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    /* line-height: 10vh; */
    box-shadow: rgba(50, 50, 93, 0.23) 0 30px 30px -20px;
}

.logo{
    font-size: 30px;
}

.nav-links{
    display: flex;
    justify-content: flex-end;
    width: 75%;
}

.container{
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links li{
    color: black;
    font-size: 20px;
    padding: 0 10px;
    margin: 0 10px;
    cursor: pointer;
    text-transform: capitalize;
    text-decoration: none;
}

button{
    border: none;
    background: none;
    font-size: 20px;
}
.mobile-menu-icon{
    display: none;
}
@media (max-width: 768px) {
    .nav-links{
        display: none;
    }
    .nav-links-mobile{
        position: absolute;
        display: block;
        list-style: none;
        box-shadow: rgba(50, 50, 93, 0.23) 0 30px 30px -20px;
        left: 0;
        top: 10%;
        transition: all 0.5s ease-in-out;
        width: 100%;
        background-color: white;
    }

    ul li{
        padding: 32px;
        width: 100%;
        transition: all 0.5s ease-in-out;
        /* text-align: center; */

    }

  .mobile-menu-icon{
        position: absolute;
        display: block;
        right: 20px;
  }
  .logo{
    font-size: 17px;
}
}
